{% extends 'music/base.html' %}
{% block title %}{{ album.album_title }} Album detail{% endblock %}

{% block body %}
    <img src="{{ album.album_logo.url }}" class="img-responsive">

    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

    {% for song in album.song_set.all %}
        &nbsp;&nbsp;
        {{ song.song_title }}<br>
    {% endfor %}
{% endblock %}

   <!--
    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            &nbsp;&nbsp;
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />&nbsp;
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}

                {% if song.is_favourite %}
                    <p>- my favorite</p>
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
    -->