{% extends 'music/base.html' %}
{% block body %}
    {% if all_albums %}
        <h2>Here are all my albums:</h2>
        <ul>
            {% for album in all_albums %}
                <li>
                    <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>

                    <!-- Update -->
                    <form action="{% url 'music:Update-album' album.id %}" method="post" style="display:inline" onsubmit="return confirm('Sure you want to update');">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" value="album.id"/>
                        <button type="submit" class="btn btn-default btn-sm">Update</button>
                    </form>

                    <!-- Delete -->
                    <form action="{% url 'music:Delete-album' album.id %}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure to delete');">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="album.id"/>
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>You don't have any albums</h2>
    {% endif %}

{% endblock %}